<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="Chrome">
        <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="campus.pom.CaseTest"/>
        </classes>
    </test>
    <test name="Firefox">
        <parameter name="browser" value="FIREFOX"/>
        <classes>
            <class name="campus.pom.CaseTest"/>
        </classes>
    </test>
    <test name="Edge">
        <parameter name="browser" value="EDGE"/>
        <classes>
            <class name="campus.pom.CaseTest"/>
        </classes>
    </test>
</suite>
